@use "../../styles/colors";

.card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card * {
    width: 100%;
}
.content {
    background-color: #{colors.$primary_main}#{20};
}
.content * {
    width: auto !important;
}
