.wrapper{
    width: 868px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7441F3;
    background: #7441F312;
}
.content-text{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
}
.button{
    height: 59px;
    width: 60%;
}