.wrapper{
    display: block;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: linear-gradient(284.07deg, #EC6953 0%, #DF53A8 100%);
    border-radius: 20px;
}
.graph{
    background-color: lightgrey;
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(22px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px 0px 15px 15px;
}
.container{
    position: absolute;
    width: 100%;
}
.thermo-wrapper{
    display: flex;
    justify-content: center; 
}
.thermo{
    display: block;
    justify-content: space-around;
}
